<!DOCTYPE html>
<html lang="en">

<head>
  <title>Handlebars Images Demo</title>
</head>

<body style="background-color:beige;text-align:center;">
  <h1>Suspect Name: {{details.name}}</h1>
  <h1>Username: {{details.uname}}</h1>
  <h2>RQ: {{details.rq}}</h2>
  <div class="row">
    <div class="col-md-4">      
      <img src="{{details.src1}}">
    </div>
    <div class="col-md-4">      
      <img src="{{details.src2}}">
    </div>
  </div>
</body>
<html>